body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    color: pink;
    background-color: teal;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #ccc;
}

h1 {
    color: #333;
    margin: 0;
}

section {
    padding: 20px;
    background-color: transparent !important;
    border: 2px solid #ccc;
    background-clip: padding-box;
    margin: 20px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background-color: #45a049;
}

#toggleElementTarget {
    background-color: #f9f9f9;
    padding: 20px;
    margin-top: 10px;
    border: 1px solid #ccc;
}

#textToChange {
    font-weight: bold;
}

img {
    width: 50%;
    height: auto;
    border: 15px double whitesmoke;
    border-radius: 20px;
    background-color: olive;
    margin: 10px;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s, box-shadow 0.2s;
  }

  #container {
    width: 80%;
    margin-left: 10%;
    background-color: #f0f0f0;
}